<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: common-header">
</head>
	<body>
		<div class="container">
			<h4 class="text-center" th:text="#{page.header.employee}"></h4>
	        <form action="#" th:action="@{employee/save}" th:object="${employee}" method="post">
	        	<h2 th:if="${messageCode != null}" class="text-center" th:classappend="${#fields.hasErrors()} ? alert-danger : alert-success" 
					th:text="#{${messageCode}}"></h2>
	        	<table class='table table-hover'>
			      <tr>
			        <td><span th:text="#{label.name}"></span>: <p class="alert-danger" 
			        		th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p></td>
			      </tr>
			      <tr>
			        <td>
				        <input type="hidden" th:field="*{id}" />
				        <input class="form-control" type="text" th:field="*{name}" />
			        </td>
			      </tr>
			      <tr>
			        <td><span th:text="#{label.sectors}"></span>: <p class="alert-danger" 
			        		th:if="${#fields.hasErrors('sectors')}" th:errors="*{sectors}"></p></td>
			      </tr>
			      <tr>
			        <td>
			        	<select multiple="multiple" size="5" class="form-control" name="sectors">
						  <option th:each="sector : ${sectorsList}" 
						  		th:selected="${employee.getSectorIds().contains(sector.id)}"
								th:value="${sector.id}" 
								th:text="${sector.title}"></option>
						</select>
			        </td>
			      </tr>
			      <tr>
			        <td><span th:text="#{label.agreeToTerms}"></span>: <p class="alert-danger" 
			        		th:if="${#fields.hasErrors('agreedToTerms')}" th:errors="*{agreedToTerms}"></p></td>
			      </tr>
			      <tr>
			        <td>
			        	<label>
			        		<input class="form-control" type="checkbox" th:field="*{agreedToTerms}" />
			        	</label>
			        </td>
			      </tr>
			      <tr>
			        <td><button th:text="#{common.save}" type="submit" class="btn btn-default"></button></td>
			      </tr>
			    </table>
	        </form>
        </div>
    </body>
</html>