<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: common-header">
</head>
	<body>
		<div class="container">
			<h4 class="text-center alert-danger" th:text="#{common.error.unexpected}"></h4>
        </div>
    </body>
</html>