<head th:fragment="common-header">

	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	
	<link type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

	<script th:href="@{/js/bootstrap.min.js}" type='text/javascript'></script>
	
	<title th:text="#{page.title.employee}"></title>

</head>